@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --primary-color: #f1eee9;
    --secondary-color: #f54725;
    --tertiary-color: #f9d678;
    --text-dark: #13313c;
    --text-light: #475569;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Rubik", sans-serif;
    --total-brand: 14;
    --logo-width: 12rem;
    --total-logo-width: calc(var(--total-brand) * var(--logo-width) * 2);
    --animation-duration: calc(var(--total-brand) * 5s);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background: #ffffff;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.signup {
    margin-right: 1.8rem;
    border-radius: 2rem;
    border: 1.5px solid transparent;
    background: #4227dd;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.signup:hover {
    background: #341cba;
    color: #ffffff;
}

.login {
    margin-right: 0.8rem;
    border-radius: 2rem;
    border: 1.8px solid #b0b0b0;
    color: #000;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.login:hover {
    border: 1.8px solid #a7a7a7b7;
    background: #f1efef;
    color: #000;
}

span {
    color: #4227dd;
}

.link_group {
    margin-left: auto;
}

.link_item {
    margin-right: 2rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    position: relative;
}

.link_item:after {
    content: "";
    position: absolute;
    background-color: #4227dd;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -0px;
    transition: 0.3s;
}

.link_item:hover:after {
    width: 100%;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #000;
}

#checkboxx {
    display: none;
}

.toggle {
    position: relative;
    width: 24px;
    height: calc(2px * 3 + 8px * 2);
    cursor: pointer;
    margin: auto;
    display: block;
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: calc(2px / 2);
    background: #000;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

.bar--top {
    bottom: calc(50% + 8px + 2px / 2);
    transition-property: bottom, margin, transform;
    transition-delay: calc(0s + 0.35s), 0s, 0s;
}

.bar--middle {
    top: calc(50% - 2px / 2);
    transition-property: top, opacity;
    transition-duration: 0.35s, 0s;
    transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

.bar--bottom {
    top: calc(50% + 8px + 2px / 2);
    transition-property: top, transform;
    transition-delay: 0s;
}

#checkboxx:checked+.toggle .bar--top {
    bottom: calc(50% - 8px - 2px);
    margin-bottom: calc(8px + 2px / 2);
    transform: rotate(45deg);
    transition-delay: calc(0s + 0.35s * .3), calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

#checkboxx:checked+.toggle .bar--middle {
    top: calc(50% + 8px);
    opacity: 0;
    transition-duration: 0.35s, 0s;
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkboxx:checked+.toggle .bar--bottom {
    top: calc(50% - 2px / 2);
    transform: rotate(-45deg);
    transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
}

.navbar-light .navbar-brand {
    color: #000;
}

.navbar-brand {
    font-size: 26px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.logo_color {
    color: #000;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 256 256'%3E%3Cpath fill='white' d='M228 128a12 12 0 0 1-12 12H40a12 12 0 0 1 0-24h176a12 12 0 0 1 12 12M40 76h176a12 12 0 0 0 0-24H40a12 12 0 0 0 0 24m176 104H40a12 12 0 0 0 0 24h176a12 12 0 0 0 0-24'/%3E%3C/svg%3E");
}

.header{
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--header-font);
    line-height: 110%;
    letter-spacing: -.03em;
    color: #000;
    text-align: center;
}
.header_para{
    --text-opacity: 1;
    color: #1d1d1dd4;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3;
}
header{
    color: hsl(233, 13%, 49%);
    margin: 3.3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.togglle{
    margin-top: 2rem;
    color: hdl(234, 14%, 74%);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.togglle-bttn{
    margin: 0 1rem;
}
.checkbox{
    display: none;
}
.suub{
    background: linear-gradient(135deg, rgb(131, 137, 221) 0%,
    rgb(91, 97, 205) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 3.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 1.6rem;
    padding: 0.3rem;
    cursor: pointer;
}
.circle{
    background-color: #ffffff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
}
.checkbox:checked + .suub{
    justify-content: flex-end;
}
.cardds{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.cardds .carrd.activve{
    background: linear-gradient(135deg, rgb(131, 137, 221) 0%,
    rgb(91, 97, 205) 100%);
    color: #ffffff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}
.ul{
    margin: 2.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ul .li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}
.ul .li.pricce{
    font-size: 3rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 2rem;
}
.shadoow{
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.carrd.activve .pricce{
    color: #ffffff;
}
.bttn{
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(135deg, rgb(131, 137, 221) 0%,
    rgb(91, 97, 205) 100%);
    color: #ffffff;
    outline: none;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}
.activve-bttn{
    background: #ffffff;
    color: hsl(237, 53%, 58%);
}
.bottoom-baar{
    border-bottom: 2px solid hsl(240, 8%, 85%, 0.583);
}
.carrd.activve .bottoom-baar{
    border-bottom: 2px solid hsl(240, 8%, 85%, 0.253);
}
.pacck{
    font-size: 1.1rem;
}
.headerr{
    font-size: 4rem;
    font-weight: 600;
    font-family: var(--header-font);
    line-height: 110%;
    letter-spacing: -.03em;
    color: #000;
    text-align: center;
}
.header_para{
    --text-opacity: 1;
    color: #1d1d1dd4;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.core-solutions-container {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.core-solutions-container i {
    margin-right: 10px; 
}

.headerr.cs {
    margin: 0; 
    font-size: 3rem; 
}

@media (max-width: 768px) {
    .headerr.cs {
        font-size: 1.2rem; 
    }

    .core-solutions-container i {
        font-size: 1rem; 
    }
}

.cs-para{
    text-align: left;
    margin-left: 2rem;
    margin-right: 19rem;
}
.grid-box{
    padding: min(50px, 7%);
}
.card-head{
    margin: 30px 0;
    font-size: 2rem;
    --tw-text-opacity: 1;
    color: #000;
    font-family: var(--header-font);
    font-weight: 600;
    line-height: 110%;
    text-align: left;
}
.card-para{
    --tw-text-opacity: 1;
    color: #000;
    font-weight: 400;
    text-align: left;
}
.card{
    padding: 2em;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
}
.fa-building{
    margin-right: 2rem;
}
.fa-user{
    margin-right: 2rem;
}
.title p{
    max-width: 500px;
    margin: 1em auto;
    line-height: 27px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.acttive,
.accordion:hover {
  background-color: #f1f7f5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}
.containerr {
    max-width: 100%;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.roww {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #000;
    padding: 10px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #4227dd;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #4227dd;
}
.footer-col h4,
.footer-col ul{
    margin-left: 15px;
}
.footer-col .social-links{
    margin-left: 0;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col h4,
    .footer-col ul {
        margin-left: 15px;
    }
    .footer-col .social-links {
        margin-left: 0;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
    .footer-col h4,
    .footer-col ul {
        margin-left: 15px;
    }
    .footer-col .social-links {
        margin-left: 0;
    }
}

.copyright {
    margin-top: 3rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    max-width: 100%;
    color: #ffffff;
}
.login-btn{
    color: #000;
}
.login-btn:hover{
    text-decoration: none;
    color: #000;
}

.signup-btn{
    color: #ffffff;
}
.signup-btn:hover{
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 848px) {
    .card-head{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 769px) {
    .headerr.cs{
        font-size: 3rem;
        font-weight: 600;
        font-family: var(--header-font);
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
    .header_para{
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }
}       